@import "../vars"

.info
  align-self: flex-start
  margin-left: 5%

  & > .image
    margin-right: 0.7rem
    vertical-align: top
    float: left

  & > h2
    display: inline-block
    margin-bottom: 0

  & > .credits
    display: inline-block
    margin-left: 1rem
    margin-bottom: 0.5rem

  & > span
    font-weight: bold
    font-size: 10pt
    font-style: italic
