@import "../vars"

.nav
  z-index: 999
  display: flex
  position: sticky
  overflow-y: hidden
  overflow-x: auto
  background-color: darken($black, 2%)
  box-shadow: 0 3px 5px 5px darken($black, 3%)
  font-weight: bolder
  padding: 1%
  top: 0

.part
  @include link()

.seperator
  margin: 0 10px
