@import "./vars"

html, body
  padding: 0
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
  background-color: $black
  color: $white

a
  color: inherit
  text-decoration: none

*
  box-sizing: border-box

main
  padding: 1rem 0 0 0
  flex: 1
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

input[type="text"]
  padding: 0.4rem
  color: $white
  background-color: lighten($black, 10%)
  outline: none
  border: none
  border-radius: 3px
  caret-color: darken($green, 5%)
  font-size: 1.2rem
  transition-property: outline-color, outline-style, outline-width, background-color
  transition-duration: 0.2s

  &:focus
    background-color: darken($black, 3%)
    outline-style: solid
    outline-color: $green
    outline-width: 1px

.container
  min-height: 100%
  padding: 0 0.5rem
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 100%

.grid
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  max-width: 800px
  margin-top: 2rem

.accent
  @include accent()

.error
  @include error()

.link
  @include link()

.noscroll
  @include noscroll()
