@import "./vars"

.modal
  position: fixed
  text-align: center
  top: 10%
  left: 20%
  right: 20%
  min-height: 60%
  background-color: darken($black, 3%)
  border-radius: 5px
  padding: 0 1rem

  & > .close
    float: right
    color: $green
    font-weight: bold
    font-size: 1.7rem
    margin-top: 5px

    &:hover
      cursor: pointer

@media (max-width: 700px)
  .modal
    left: 5%
    right: 5%
