@import "./vars"

.result
  text-align: left
  border-radius: 5px
  box-shadow: 0 0 5px 5px darken($black, 1%)
  background-color: lighten($black, 4%)
  min-height: 8rem
  width: 600px
  margin-bottom: 1rem
  padding: 0.7rem
  transition-property: box-shadow
  transition-duration: 0.35s

  &:hover
    box-shadow: 0 0 3px 3px $green
    cursor: pointer

  & > img
    border-radius: 3px
    margin-right: 0.7rem
    display: inline-block
    margin-top: 0
    float: left

  & > div > span
    display: block

  &:before, &:after
    content: " "
    display: table

  &:after
    clear: both

.link
  @include link()
  color: lighten($black, 40%)

  &:hover
    color: lighten($black, 25%)

.title > a:hover
  text-decoration: underline

.features
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  margin-top: 2rem

  & > div
    text-align: center
    color: inherit
    margin: 0.7rem
    padding: 0.2rem
    text-decoration: none
    border: 1px solid $white
    border-radius: 10px
    width: 45%

    &:hover, &:active
      color: $green
      border-color: $green
      cursor: pointer

    & > span
      display: block
      margin-bottom: 1rem
      font-weight: bolder

@media (max-width: 700px)
  .result
    width: 100%

@media (max-width: 1120px)
  .features
    flex-direction: column

    & > div
      width: 70%
