$black: #181818
$white: #b3b3b3
$green: #1DB954
$yellow: #FFEB3B
$orange: #FF9800
$red: #E53935

@mixin link()
  color: $green
  text-decoration: none

  &:hover
    color: darken($green, 10%)
    text-decoration: underline
    cursor: pointer

@mixin accent()
  color: $green

@mixin error()
  color: $red

@mixin noscroll()
  overflow-y: hidden
  height: 100%
